{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="content">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <h2 class="titulo-cadastro">Editar {{ mensagem }}</h2>
    <form class="activity-form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="submit-button">Salvar Alterações</button>
    </form>
</div>

{% endblock %}